<!DOCTYPE html>
<html lang="en">
	<head>
		<title>AirBnB clone</title>

		<link rel="shortcut icon" href="../images/icon.ico" >

		<link rel="stylesheet" href="../static/styles/4-common.css"/>
		<link rel="stylesheet" href="../static/styles/3-header.css"/>
		<link rel="stylesheet" href="../static/styles/3-footer.css"/>
		<link rel="stylesheet" href="../static/styles/6-filters.css"/>
		<link rel="stylesheet" href="../static/styles/8-places.css"/>
	</head>
    <body>
		<header>
			<div id="header_logo"></div>
		</header>
		<div class="container">
			<section class="filters">
                <button>Search</button>
                <div class="locations">
                    <h3>States</h3>
                    <h4>&nbsp;</h4>
                    <ul class="popover">
                        {% for state in states.items()|sort(attribute='1.name') %}
                        <li> <h2> {{ state[1].name }} </h2>
                            <ul>
                                {% for cities in state[1].cities|sort(attribute='name') %}
                                    <li><h4> {{ cities.name }} </h4></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="filter_amenities">
                    <h3>Amenities</h3>
                    <h4>&nbsp;</h4>
                    <ul class="popover">
                        {% for amen in amens.items()|sort(attribute='1.name') %}
                        <li> <h4>{{ amen[1].name }}</h4></li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
			<section class="places">
				<h1>Places</h1>
                {% for place in places.items()|sort(attribute='1.name') %}
                <article>
                    <div class="headline">
						<h2> {{ place[1].name }} </h2>
						<div class="price_by_night">${{ place[1].price_by_night }}</div>
					</div>
                    <div class="information">
                        <div class="max_guest">
                            <div class="guest_icon"></div>
                            <p>{{ place[1].max_guest }} Guests</p>
                        </div>
                        <div class="number_rooms">
                            <div class="bed_icon"></div>
                            <p>{{ place[1].number_rooms }} Bedroom</p>
                        </div>
                        <div class="number_bathrooms">
                            <div class="bath_icon"></div>
                            <p>{{ place[1].number_bathrooms }} Bathroom</p>
                        </div>
                    </div>
                    {% for user in users.items() %}
                        {% if user[1].id == place[1].user_id %}
                            <div class="user"><b>Owner</b>: {{ user[1].first_name }} {{ user[1].last_name }}</div>
                        {% endif %}
                    {% endfor %}
                    <div class="description">
                    {% autoescape false %}
                        {{ place[1].description | replace("<BR />", "<br>") }}
                    {% endautoescape %}
                    </div>
                </article>
                {% endfor %}
            </section>
		</div>
		<footer>
			<p>Holberton School</p>
		</footer>
	</body>
</html>
